<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <ul>
                <li>
                    Da alle Kategorien und Kollektikons angelegt sind, können keine neuen erzeugt und die bestehenden nicht mehr gelöscht werden.
                </li>
                <li>
                    Sammelitems können hier nicht neu erzeugt werden! (Ein nicht existentes wird nicht gespeichert)
                </li>
                <li>
                    Die Kategorien am Kollektikon müssen bei Bearbeitung einzeln gespeichert werden (Häkchen).
                </li>
            </ul>
        </div>
        <h1 class="m-b-1">Kollektikon-Kategorien</h1>
        <collection-category-admin>
            <div class="alert alert-warning m-y-2" ng-show="vm.deletedCollectionCategory">
                <a ng-click="vm.addDeletedCollectionCategory()" href="#">Gelöschte Zeile wiederherstellen</a>
            </div>
            <collapsed-table-list id-prefix="category" ng-repeat="item in vm.collectionCategories | orderBy:'prio' track by item.id" ng-if="vm.collectionCategories">
                <collection-category-form collection-category="item">
                </collection-category-form>
            </collapsed-table-list>
        </collection-category-admin>
        <h1 class="m-t-2">Kollektikon</h1>
        <collection-admin>
            <div class="alert alert-warning m-y-2" ng-show="vm.deletedCollection">
                <a ng-click="vm.addDeletedCollection()" href="#">Gelöschte Zeile wiederherstellen</a>
            </div>
            <input type="text" class="form-control text m-y-1" ng-model="filter.name" ng-model-options='{ debounce: 200 }' placeholder="Filtern..." />
            <collapsed-table-list id-prefix="collection" ng-repeat="item in vm.collections | filter:filter track by item.id" table-list-label="{{item.region}}" ng-if="vm.collections">
                <collection-form collection="item">
                </collection-form>
            </collapsed-table-list>
        </collection-admin>
    </div>
</main>