<tr>
    <td collection-category-by-id="{{form.collectionGroup.collection_category}}">
        <strong>{{collectionCategoryById.name}}</strong>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible1" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible2" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible3" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible4" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible5" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible6" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible7" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td>
        <bind-autocomplete-as-id ng-if="form.collectibles" bind-item="form.collectionGroup.collectible8" options="form.collectibles">
        </bind-autocomplete-as-id>
    </td>
    <td style="width:20px;">
        <strong>TP-Belohnung:</strong>
        <form-field form-field-bind="form.collectionGroup.reward_sp" form-template="inputText"></form-field>
    </td>
    <td style="width:20px;">
        <strong>Item-Belohnung:</strong>
        <form-field form-field-bind="form.collectionGroup.reward_item" form-template="inputText"></form-field>
    </td>
    <td style="width:20px;">
        <div class="col-xs-12 p-r-0">
            <button type="button" ng-click="form.updateCollectionGroup()" href="#" class="btn btn-success pull-right"><span class="fa fa-check"></span></button>
        </div>
    </td>
</tr>