<header class="col-xs-12">
    <h1>Kollektikon</h1>
</header>
<div class="col-xs-12">
    <section class="content-box m-b-1">
        <p class="content-body">Hier findet ihr das Kollektikon. Es gibt Belohnungen für:
- Den Abschluss einer Region
- Den Abschluss einer Kategorie innerhalb einer Region
- Das Sammeln aller Items einer Kategorie regionsübergreifend <strong>(immer 16 TP)</strong>
- Das Sammeln eines Glücksfelds, welche gelb hinterlegt sind <strong>(immer 2 TP)</strong></p>
    </section>
</div>
<div class="page-collection col-xs-12" collection-view>
    <div class="collection m-b-2" ng-repeat="collection in collections track by collection.id">
        <h2>{{collection.region}}</h2>
        <strong>Gesamtbelohnung:</strong> {{collection.reward_sp}} TP, {{collection.reward_item}}
        <div class="table-responsive m-t-1">
            <table class="table table-bordered table-not-fixed">
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center;">Slot 1</th>
                    <th style="text-align: center;">Slot 2</th>
                    <th style="text-align: center;">Slot 3</th>
                    <th style="text-align: center;">Slot 4</th>
                    <th style="text-align: center;">Slot 5</th>
                    <th style="text-align: center;">Slot 6</th>
                    <th style="text-align: center;">Slot 7</th>
                    <th style="text-align: center;">Slot 8</th>
                    <th style="text-align: center;">Belohnung</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-if="collectionGroups" ng-repeat="collectionGroup in collectionGroups | filter:{collection: collection.id} | orderBy: 'collection_category_prio' track by collectionGroup.id">
                        <td collection-category-by-id="{{collectionGroup.collection_category}}">
                            <strong>{{collectionCategoryById.name}}</strong>
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible1}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible2}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible3}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible4}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible5}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible6}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible7}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td collectible-by-id="{{collectionGroup.collectible8}}" ng-class="{'lucky-field': collectibleById.is_lucky_field}">
                            {{collectibleById.name}}
                        </td>
                        <td>
                            {{collectionGroup.reward_sp}} TP, {{collectionGroup.reward_item}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>