<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <strong>Region:</strong>
    <form-field form-field-bind="form.collection.region" form-template="stringSelect" form-select-options="form.regions"></form-field>
</div>
<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <strong>TP-Belohnung - Gesamt:</strong>
    <form-field form-field-bind="form.collection.reward_sp" form-template="inputText"></form-field>
</div>
<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <strong>Item-Belohnung - Gesamt:</strong>
    <form-field form-field-bind="form.collection.reward_item" form-template="inputText"></form-field>
</div>
<div class="row">
    <div class="col-xs-12 p-r-0">
        <button type="button" ng-click="form.updateCollection()" href="#" class="btn btn-success pull-right">Speichern</button>
    </div>
</div>
<div ng-if="form.collection.id && form.collectionCategories">
    <div class="clear-both"></div>
    <h4 class="m-b-2">Kategorien:</h4>
    <table class="table table-bordered table-not-fixed text-sm-center">
        <thead>
        <tr>
            <th>

            </th>
            <th style="text-align: center">
                Slot 1
            </th>
            <th style="text-align: center">
                Slot 2
            </th>
            <th style="text-align: center">
                Slot 3
            </th>
            <th style="text-align: center">
                Slot 4
            </th>
            <th style="text-align: center">
                Slot 5
            </th>
            <th style="text-align: center">
                Slot 6
            </th>
            <th style="text-align: center">
                Slot 7
            </th>
            <th style="text-align: center">
                Slot 8
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="collectionGroup in form.collectionGroups | filter: {collection: form.collection.id} : true | orderBy:'collection_category_prio' track by collectionGroup.id" collection-group-form collection-group="collectionGroup">
            </tr>
        </tbody>
    </table>
    <div class="clear-both"></div>
</div>