<div class="row">
    <div class="col-md-offset-9 col-md-3 col-xs-offset-6 col-xs-6 p-r-0 p-b-1">
        <button href="#" class="btn btn-danger pull-right" ng-click="form.deleteCollectionCategory()">
            Löschen
        </button>
    </div>
</div>
<form ng-submit="form.updateCollectionCategory()">
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Name:</strong>
        <form-field form-field-bind="form.collectionCategory.name" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <span class="info-icon text-primary" bs-tooltip bs-tooltip-title="Nur Zahlen erlaubt. Sortierung ist aufsteigend (am besten Spielraum zwischen den Zahlen lassen)"></span>
        <strong>Sortierung:</strong>
        <form-field form-field-bind="form.collectionCategory.prio" form-template="inputText"></form-field>
    </div>
    <div class="row">
        <div class="col-xs-12 p-r-0">
            <input type="submit" href="#" class="btn btn-success pull-right" value="Speichern" />
        </div>
    </div>
</form>