<div collapsed-content class="list-group collapsed-table-view">
    <button ng-click="visible('#'+idPrefix+'item-view'+$index)" class="list-group-item" ng-class="{'list-group-item-success':addForm}" data-toggle="collapse" data-target="#{{idPrefix}}item-view{{$index}}" aria-expanded="false" aria-controls="{{idPrefix}}item-view{{$index}}"><span ng-if="addForm" class="fa fa-plus-circle"></span> {{tableListLabel || item.name}} <span ng-if="addForm">Neu</span></button>
    <div class="collapse" id="{{idPrefix}}item-view{{$index}}">
        <div class="card collapsed-table-card card-block" ng-if="addForm || isVisible('#'+idPrefix+'item-view'+$index)" ng-transclude="">
        </div>
    </div>
</div>