<div ng-include src="'templates/_header.html'"></div>
<main role="main" class="page-start">
    <img class="comming-soon-bg" src="images/comming_soon_bg.jpg" />
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h5>Uuuups....</h5>
            </div>
            <div class="card-block">
                <p>
                    Entschuldigung! Der Inhalt wurde wohl von Xenoformen verschleppt :-(
                </p>
            </div>
        </div>
    </div>
</main>