<ng-include src="'templates/_header.html'"></ng-include>
<main role="main">
    <img class="comming-soon-bg" src="images/comming_soon_bg.jpg" />
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Uuuups....</h5>
            </div>
            <div class="panel-body">
                <p>
                    Entschuldigung! Der Inhalt wurde wohl von Xenoformen verschleppt :-(
                </p>
            </div>
        </div>
    </div>
</main>