<header class="main-header">
  <nav class="navbar navbar-dark bg-inverse">
    <a slide-menu menu-id="js_main-nav" class="mobile-nav-button" href="#"><span class="fa fa-align-justify"></span></a>
    <a class="logo" href="/"><img src="images/logo_xenobladex.jpg"></a>
    <ul class="meta-nav">
      <li>
        <a href="http://www.xenoblade.org/phpBB3" target="_blank">Forum</a>
      </li>
      <li>
        <a href="http://www.xenoblade.org" target="_blank">Xenoblade.org</a>
      </li>
    </ul>
  </nav>
</header>
<aside class="main-aside">
  <nav id="js_main-nav"class="main-nav">
    <ul>
      <li>
        <a href="/" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/">Aktuelles</a>
      </li>
      <li>
        <a href="/missionen" highlighted-nav-item nav-item-class="active" nav-item-route="/missionen">Missionen</a>
      </li>
      <li>
        <a href="/faq" highlighted-nav-item nav-item-class="active" nav-item-route="/faq">FAQ</a>
      </li>
    </ul>
  </nav>
</aside>