<header class="main-header">
  <loading-directive></loading-directive>
  <a class="back-to-top" href="#" scroll-to="0"><span class="fa fa-arrow-up"></span> nach oben</a>
  <nav class="navbar navbar-dark bg-inverse">
    <a slide-menu menu-id="js_main-nav" class="mobile-nav-button" href="#"><span class="fa fa-align-justify"></span></a>
    <a class="logo" href="/"><img src="images/logo_xenobladex.jpg"></a>
    <ul class="meta-nav">
      <li>
        <a href="http://www.xenoblade.org/phpBB3" target="_blank">Forum</a>
      </li>
      <li>
        <a href="http://www.xenoblade.org" target="_blank">Xenoblade.org</a>
      </li>
      <li>
        <a href="/impressum">Impressum</a>
      </li>
    </ul>
  </nav>
</header>
<aside id="js_main-nav" class="main-aside">
  <nav class="main-nav">
    <ul>
      <li>
        <a href="/" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/">Aktuelles</a>
      </li>
      <li>
        <a href="#equipupgrades-submenu" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;" highlighted-nav-item nav-item-class="active" nav-item-route="/erweiterungen">Erweiterungen <span class="fa fa-arrow-circle-down"></span></a>
        <ul class="collapse" id="equipupgrades-submenu" highlighted-nav-item nav-item-class="in" nav-item-route="/erweiterungen">
          <li>
            <a href="/erweiterungen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/erweiterungen">Alle</a>
          </li>
          <li>
            <a href="/erweiterungen/waffen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/erweiterungen/waffen">Waffen</a>
          </li>
          <li>
            <a href="/erweiterungen/rüstungen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/erweiterungen/rüstungen">Rüstungen</a>
          </li>
          <li>
            <a href="/erweiterungen/skell-waffen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/erweiterungen/skell-waffen">Skell-Waffen</a>
          </li>
          <li>
            <a href="/erweiterungen/skell-panzerungen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/erweiterungen/skell-panzerungen">Skell-Panzerungen</a>
          </li>
          <li>
            <a href="/erweiterungen/skell-zusätze" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/erweiterungen/skell-zusätze">Skell-Zusätze</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#guides-submenu" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;" highlighted-nav-item nav-item-class="active" nav-item-route="/guides">Guides <span class="fa fa-arrow-circle-down"></span></a>
        <ul class="collapse" id="guides-submenu" highlighted-nav-item nav-item-class="in" nav-item-route="/guides">
          <li>
            <a href="/guides/7" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/guides/7">Aufstieg des Bluthummers</a>
            <a href="/guides/3" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/guides/3">Der Weg zum Ares 90</a>
            <a href="/guides/11" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/guides/11">Handelsabkommen</a>
            <a href="/guides/9" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/guides/9">Wetter & Effekte</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/kollektikon" highlighted-nav-item nav-item-class="active" nav-item-route="/kollektikon">Kollektikon</a>
      </li>
      <li>
        <a href="#monsters-submenu" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;" highlighted-nav-item nav-item-class="active" nav-item-route="/kreaturen">Kreaturen <span class="fa fa-arrow-circle-down"></span></a>
        <ul class="collapse" id="monsters-submenu" highlighted-nav-item nav-item-class="in" nav-item-route="/kreaturen">
          <li>
            <a href="/kreaturen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/kreaturen">Alle</a>
          </li>
          <li>
            <a href="/kreaturen/primordia" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/kreaturen/primordia">Primordia</a>
          </li>
          <li>
            <a href="/kreaturen/noctilum" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/kreaturen/noctilum">Noctilum</a>
          </li>
          <li>
            <a href="/kreaturen/oblivia" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/kreaturen/oblivia">Oblivia</a>
          </li>
          <li>
            <a href="/kreaturen/sylvalum" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/kreaturen/sylvalum">Sylvalum</a>
          </li>
          <li>
            <a href="/kreaturen/cauldros" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/kreaturen/cauldros">Cauldros</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/material" highlighted-nav-item nav-item-class="active" nav-item-route="/material">Material</a>
      </li>
      <li>
        <a href="#missions-submenu" highlighted-nav-item nav-item-class="active" nav-item-route="/missionen" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;">Missionen <span class="fa fa-arrow-circle-down"></span></a>
        <ul id="missions-submenu" class="collapse" highlighted-nav-item nav-item-class="in" nav-item-route="/missionen">
          <li>
            <a href="/missionen" highlighted-nav-item nav-item-route-equals="true" nav-item-class="active" nav-item-route="/missionen">Alle</a>
          </li>
          <li>
            <a href="/missionen/handlung" highlighted-nav-item nav-item-class="active" nav-item-route="/missionen/handlung">Handlung</a>
          </li>
          <li>
            <a href="/missionen/harmonie" highlighted-nav-item nav-item-class="active" nav-item-route="/missionen/harmonie">Harmonie</a>
          </li>
          <li>
            <a href="/missionen/standard" highlighted-nav-item nav-item-class="active" nav-item-route="/missionen/standard">Standard</a>
          </li>
          <li>
            <a href="/missionen/nebenjob" highlighted-nav-item nav-item-class="active" nav-item-route="/missionen/nebenjob">Nebenjob</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/sammelitems" highlighted-nav-item nav-item-class="active" nav-item-route="/sammelitems">Sammelitems</a>
      </li>
      <li>
        <a href="/faq" highlighted-nav-item nav-item-class="active" nav-item-route="/faq">FAQ</a>
      </li>
    </ul>
  </nav>
</aside>