<header class="main-header">
  <nav class="navbar navbar-dark bg-inverse">
    <a ng-if="asideLoaded" slide-menu menu-id="js_main-nav" class="mobile-nav-button" href="#"><span class="fa fa-align-justify"></span></a>
    <img src="images/logo_xenobladex.jpg">
    <ul class="meta-nav">
      <li>
        <a href="http://www.xenoblade.org/phpBB3" target="_blank">Forum</a>
      </li>
      <li>
        <a href="http://www.xenoblade.org" target="_blank">Xenoblade.org</a>
      </li>
    </ul>
  </nav>
</header>