<main role="main">
    <div ng-include src="'templates/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            Das Auswählen der Grafik führt (noch) nicht zum direkten Speichern - dafür kann manuell das Häkchen betätigt werden.<br/>
            (Die Grafik wird auch mitgespeichert, wenn man einfach in einem der Textfelder Änderungen macht.)
        </div>
        <h1>Karten</h1>
        <map-admin></map-admin>
    </div>
</main>