<main role="main">
    <div ng-include src="'templates/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <strong>Personen können jetzt als Auftraggeber an Missionen gepflegt werden</strong>
            <ul>
                <li>
                    Ist eine Person mit einer Mission verknüpft kann diese Person nicht gelöscht werden (es passiert einfach nichts)
                </li>
            </ul>
        </div>
        <h1>Personen</h1>
        <person-admin></person-admin>
    </div>
</main>
