<main role="main">
    <div ng-include src="'templates/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-danger" role="alert">
            Noch keine Echtdaten pflegen, die Felder sind noch nicht final. Es ist nur vorab zum Rumspielen :-)<br />
            <strong>Die Ansicht wird zeitnah umgebaut, um die Menge der Daten unterzukriegen</strong>
        </div>
        <h1>Missionen</h1>
        <mission-admin></mission-admin>
    </div>
</main>
