<main role="main">
    <div class="container-fluid">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 p-y-1">
            <h1>XenobladeX.org - Pflege</h1>
            <div class="alert alert-info m-y-2" role="alert">
                <h4>Generell zur Bedienung:</h4>
                <ul>
                    <li>
                        Änderungen können immer über den Button mit Häkchen bestätigt werden
                    </li>
                    <li>
                        Änderungen in einzeiligen Textfeldern können auch mit Druck auf <strong>Enter</strong> bestätigt werden, in mehrzeiligen Textfeldern mit <strong>STRG + Enter</strong>
                    </li>
                    <li>
                        Bestätigt man eine <strong>Änderung</strong> wird die gesamte Zeile gespeichert
                    </li>
                    <li>
                        <strong>Neue Einträge</strong> werden grundsätzlich erst bei Druck auf den Button "Hinzufügen" gespeichert
                    </li>
                    <li>
                        <strong>Nicht bestätigte Einträge</strong> (Editiermodus noch geöffnet) werden nicht gespeichert
                    </li>
                    <li>
                        Um keine Änderung vorzunehmen kann man auch mit Druck auf <strong>ESC</strong> das Feld wieder verlassen
                    </li>
                    <li>
                        Ausgenommen der <strong>Dateiverwaltung</strong> kann immer die zuletzt gelöschte Zeile wieder gergestellt werden
                    </li>
                    <li>
                        nach Löschen taucht oberhalb der Pflege eine Meldung auf, um die Zeile wiederherzustellen
                    </li>
                </ul>
            </div>
            <h2>Bereiche</h2>
            <div class="list-group m-t-1">
                <a class="list-group-item" href="/admin/dateien">Dateien verwalten</a>
                <a class="list-group-item" href="/admin/missionen">Missionen</a>
                <a class="list-group-item" href="/admin/personen">Personen</a>
                <a class="list-group-item" href="/admin/karten">Karten</a>
                <a class="list-group-item" href="/admin/kartenpunkte">Kartenpunkte</a>
                <a class="list-group-item" href="/admin/faq">FAQ</a>
            </div>
        </div>
    </div>
</main>
