<main role="main">
    <div ng-include src="'templates/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <strong>Person kann nun gepflegt werden.</strong>
            <ul>
                <li>
                    Handelt es sich um eine nicht gepflegte Person (z.B. "Filialleiter"), den Text einfach eintragen
                </li>
                <li>
                    Handelt es sich um eine "richtige Person", entsprechendes Häkchen setzen und Person raussuchen
                </li>
                <li>
                    Handelt es sich um eine "richtige Person" die noch nicht gepflegt wurde, kann ihr Name (mit gesetztem Häkchen) eingetragen werden und die Person wird automatisch angelegt.
                </li>
            </ul>
        </div>
        <h1>Missionen</h1>
        <mission-admin></mission-admin>
    </div>
</main>
