<main role="main">
    <div ng-include src="'templates/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            Aktuell braucht jede Entität (Art von Daten, die wir haben) das Feld "Name",<br/>
            daher haben auch die FAQ eine Headline bzw. einen Namen, der aber auch leer gelassen werden kann.<br/>
            (Ich weiß gerade auch keinen Einsatzzweck :-D)
        </div>
        <h1>FAQ</h1>
        <faq-admin></faq-admin>
    </div>
</main>