<main role="main">
    <div ng-include src="'templates/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <ul>
                <li>
                    Karten müssen zuerst unter "Karten" angelegt werden
                </li>
                <li>
                    Die Position eines Markers kann aktuell nicht geändert werden, dafür muss er gelöscht werden
                </li>
                <li>
                    Es werden weitere Tabs für Missionen, Orte etc. folgen
                </li>
                <li>
                    Es kommt auch noch ein Feld jeweils hinzu um die Punkte direkt an den Daten pflegen zu können
                </li>
                <li>
                    Auf der Seite später stellen wir die Marker nicht als Buttons dar ;-) Sind so nur leichter zu bearbeiten :-)
                </li>
            </ul>
        </div>
        <h1>Kartenpunkte</h1>
        <mapmarker-admin></mapmarker-admin>
    </div>
</main>