<header>
    <h1>FAQ</h1>
</header>
<section class="content-box default-amrgin-b">
    <p class="content-body">Hier findet ihr Antworten auf häufig gestellte Fragen, die euch den Einstieg und das Vorankommen erleichtern sollen.</p>
</section>
<faq-view>
    <div class="search-input m-b-1">
        <input ng-model="filterValue" type="text" placeholder="Fragen filtern..." />
        <span class="fa fa-search"></span>
    </div>
    <section class="collapse-grouped" ng-repeat="faqGroup in groupedFaqs">
        <h1>{{faqGroup.name}}</h1>
        <div class="collapse-item" ng-repeat="faq in faqGroup.rows | orderBy:'name' | listFilter:filterValue:'name'">
            <a href="#faq-{{faqGroup.name || '0'}}-{{$index}}" class="collapsed content-box" onclick="return false;" data-toggle="collapse" aria-expanded="false"><strong>{{faq.name}}</strong><span class="fa collapse-arrow"></span></a>
            <div id="faq-{{faqGroup.name || '0'}}-{{$index}}" class="content-box collapse">
                <p class="content-body">{{faq.answer}}</p>
                <a ng-if="faq.answer_read_more" href="#faq-read-more-{{$index}}" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;"><span class="fa collapse-arrow"></span> Mehr Infos</a>
                <div id="faq-read-more-{{$index}}" class="collapse">
                    <p class="content-body">{{faq.answer_read_more}}</p>
                </div>
            </div>
        </div>
    </section>
</faq-view>