<header>
  <h1>FAQ - Häufig gestellte Fragen</h1>
</header>
<section class="content-box default-amrgin-b">
  <div>
    <p>Hier findet ihr Antworten auf häufig gestellte Fragen, die euch den Einstieg und das Vorankommen erleichtern sollen.</p>
  </div>
</section>
<faq-view>
  <div class="collapse-item" ng-repeat="faq in faqs">
      <a href="#faq-anser-{{$index}}" class="collapsed content-box" onclick="return false;" data-toggle="collapse" aria-expanded="false">{{faq.name}}<span class="fa"></span></a>
      <div id="faq-anser-{{$index}}" class="content-box collapse">
        <p>{{faq.answer}}</p>
        <a ng-if="faq.answer_read_more" href="#faq-read-more-{{$index}}" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;"><span class="fa"></span> Mehr Infos</a>
        <div id="faq-read-more-{{$index}}" class="collapse">
            <p>{{faq.answer_read_more}}</p>
        </div>
      </div>
  </div>
</faq-view>