<header>
    <h1>Missionen</h1>
</header>
<mission-view>
    <div class="row">
        <div class="col-xs-12 col-lg-4 search-input m-b-1">
            <input ng-model="namefilterValue" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Namen filtern..." />
            <span class="fa fa-search"></span>
        </div>
        <div class="col-xs-12 col-lg-4 search-input m-b-1">
            <input ng-model="bladeLevelfilterValue" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Blade-Level filtern..." />
            <span class="fa fa-search"></span>
        </div>
        <div class="col-xs-12 col-lg-4 search-input m-b-1">
            <input ng-model="chapterfilterValue" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Kapitel filtern..." />
            <span class="fa fa-search"></span>
        </div>
    </div>
    <section class="collapse-grouped" ng-repeat="missionGroup in groupedMissions | orderBy:'name'">
        <h1>{{missionGroup.name || 'Nicht zugeordnet'}}</h1>
        <div class="collapse-item" ng-repeat="mission in missionGroup.rows | sortAlphaNumeric:'name' | listFilter:namefilterValue:'name'| listFilter:bladeLevelfilterValue:'blade_level'| listFilter:chapterfilterValue:'chapter' track by mission.id">
            <a href="#mission-{{$parent.$index}}-{{$index}}" class="collapsed content-box" onclick="return false;" data-toggle="collapse" aria-expanded="false"><strong>{{mission.name}}</strong><span class="collapse-arrow fa"></span><span class="collapse-note">{{missionGroup.name}}</span></a>
            <div id="mission-{{$parent.$index}}-{{$index}}" class="content-box collapse">
                <div class="content-body">
                    <div class="row">
                        <div ng-if="mission.person.name || mission.person_unrelated" class="col-xs-12 col-md-6">
                            <h3>Person:</h3>
                        </div>

                        <div ng-if="mission.location_note" class="col-xs-12 col-md-6">
                            <h3>Erhalt:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="mission.person.name || mission.person_unrelated" class="col-xs-12 col-md-6">
                            {{mission.person.name || mission.person_unrelated}}
                        </div>

                        <div ng-if="mission.location_note" class="col-xs-12 col-md-6">
                            <p>{{mission.location_note}}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div ng-if="mission.conditions || mission.blade_level || mission.chapter" class="col-xs-12 col-md-6">
                            <h3>Voraussetzungen:</h3>
                        </div>
                        <div ng-if="mission.rewards" class="col-xs-12 col-md-6">
                            <h3>Belohnung:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="mission.conditions || mission.blade_level || mission.chapter" class="col-xs-12 col-md-6">
                            <span ng-if="mission.blade_level">BLADE-Level: {{mission.blade_level}}<br/></span>
                            <span ng-if="mission.chapter">Abschluss Kapitel: {{mission.chapter}}</span>
                            <p ng-if="mission.conditions"><br ng-if="mission.chapter || mission.blade_level" />{{mission.conditions}}</p>
                        </div>
                        <div ng-if="mission.rewards" class="col-xs-12 col-md-6">
                            <p>{{mission.rewards}}</p>
                        </div>
                    </div>
                    <hr/>
                    <div ng-if="mission.mission_type.name=='Nebenjob'" class="row">
                        <div class="col-xs-12 col-md-6">
                            <h3>Zielregion:</h3>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h3>Typ & Schwierigkeit:</h3>
                        </div>
                    </div>
                    <div ng-if="mission.mission_type.name=='Nebenjob'" class="row">
                        <div class="col-xs-12 col-md-6">
                            <p>{{mission.target_area}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <span>Typ: {{mission.sidejob_type}}<br/></span>
                            <span>Schwierigkeit: {{mission.difficulty}}</span>
                        </div>
                    </div>
                    <hr ng-if="mission.mission_type.name=='Nebenjob'" />
                    <div class="row">
                        <div ng-if="mission.description" class="col-xs-12 col-md-6">
                            <h3>Beschreibung:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="mission.description" class="col-xs-12 col-md-6">
                            <p>{{mission.description}}</p>
                        </div>
                    </div>
                </div>
                <a ng-if="mission.solution || mission.tasks" href="#mission-solution-{{$parent.$parent.$index}}-{{$index}}" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;"><span class="fa collapse-arrow"></span><strong>Aufgaben & Lösung</strong></a>
                <div ng-if="mission.solution || mission.tasks" id="mission-solution-{{$parent.$parent.$index}}-{{$index}}" class="collapse">
                    <div class="content-body">
                        <div class="row">
                            <div ng-if="mission.tasks" class="col-xs-12 col-md-6">
                                <h3>Aufgaben:</h3>
                            </div>
                            <div ng-if="mission.solution" class="col-xs-12 col-md-6">
                                <h3>Lösungshinweise:</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-if="mission.tasks" class="col-xs-12 col-md-6">
                                <p>{{mission.tasks}}</p>
                            </div>
                            <div ng-if="mission.solution" class="col-xs-12 col-md-6">
                                <p>{{mission.solution}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</mission-view>