<header>
    <h1>Missionen</h1>
</header>
<mission-view>
    <div class="search-input m-b-1">
        <input ng-model="filterValue" type="text" placeholder="Missionen filtern..." />
        <span class="fa fa-search"></span>
    </div>
    <section class="collapse-grouped" ng-repeat="missionGroup in groupedMissions | orderBy:'name'">
        <h1>{{missionGroup.name || 'Nicht zugeordnet'}}</h1>
        <div class="collapse-item" ng-repeat="mission in missionGroup.rows | sortAlphaNumeric:'name' | listFilter:filterValue:'name'">
            <a href="#mission-{{$parent.$index}}-{{$index}}" class="collapsed content-box" onclick="return false;" data-toggle="collapse" aria-expanded="false"><strong>{{mission.name}}</strong><span class="collapse-arrow fa"></span><span class="collapse-note">{{missionGroup.name}}</span></a>
            <div id="mission-{{$parent.$index}}-{{$index}}" class="content-box collapse">
                <div class="content-body">
                    <div class="row">
                        <div ng-if="mission.person.name || mission.person_unrelated" class="col-xs-12 col-md-6">
                            <h3>Person:</h3>
                        </div>

                        <div ng-if="mission.location_note" class="col-xs-12 col-md-6">
                            <h3>Erhalt:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="mission.person.name || mission.person_unrelated" class="col-xs-12 col-md-6">
                            {{mission.person.name || mission.person_unrelated}}
                        </div>

                        <div ng-if="mission.location_note" class="col-xs-12 col-md-6">
                            <p>{{mission.location_note}}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div ng-if="mission.conditions" class="col-xs-12 col-md-6">
                            <h3>Voraussetzungen:</h3>
                        </div>
                        <div ng-if="mission.rewards" class="col-xs-12 col-md-6">
                            <h3>Belohnung:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="mission.conditions" class="col-xs-12 col-md-6">
                            <p>{{mission.conditions}}</p>
                        </div>
                        <div ng-if="mission.rewards" class="col-xs-12 col-md-6">
                            <p>{{mission.rewards}}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div ng-if="mission.description" class="col-xs-12 col-md-6">
                            <h3>Beschreibung:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="mission.description" class="col-xs-12 col-md-6">
                            <p>{{mission.description}}</p>
                        </div>
                    </div>
                </div>
                <hr ng-if="mission.solution" />
                <a ng-if="mission.solution" href="#mission-solution-{{$parent.$parent.$index}}-{{$index}}" class="collapsed" data-toggle="collapse" aria-expanded="false" onclick="return false;"><span class="fa collapse-arrow"></span><strong>Aufgaben & Lösung</strong></a>
                <div id="mission-solution-{{$parent.$index}}-{{$index}}" class="collapse">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p>{{mission.tasks}}</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p>{{mission.solution}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</mission-view>