<div ng-include src="'templates/_header.html'"></div>
<main role="main" class="page-start">
  <img class="comming-soon-bg" src="images/comming_soon_bg.jpg" />
  <div class="container-fluid">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="card">
        <div class="card-header bg-primary">
          <h5>Coming Soon!</h5>
        </div>
        <div class="card-block">
          <p>
            Auch zum neuen Teil wollen wir euch wieder mit so vielen Infos wie möglich versorgen!<br/>
            Einen genauen Live-Termin gibt es noch nicht, aber unsere Hauptentwicklerin und Admin der Seite (Sami) hat erst ab dem 14.12. Urlaub, d.h. vorher ist eher noch nicht so viel zu erwarten.<br/>
            <br/>
            Wir freuen uns auf euch!<br>
            <br>
            Liebe Grüße, das Xenoblade(X).org - Team
          </p>
        </div>
      </div>
    </div>
  </div>
</main>