<header>
  <h1>Aktuelles</h1>
</header>
<section class="content-box">
  <header>
    <h1>Missionen online!</h1>
    <span class="date">19.01.2016</span>
  </header>
    <p class="content-body">Hallo ihr Lieben!

Heute präsentieren wir euch die Missionen! Es ist bereits ein großer Teil der Standard- und Harmoniemissionen enthalten, die Nebenjobs kommen noch, sind aber insgesamt bei uns niedriger priorisiert.

Um euch die Übersicht zu erleichtern haben wir auch bei den Missionen Filter eingebaut für Name, Kapitel und BLADE-Level. Für die Zukunft sind noch Suchen auch für die Freitextfelder und eine Unterteilung der Missionen auf eigene Seiten geplant. Solltet ihr noch mehr Vorschläge, Fragen etc. (oder auch Korrekturen/Anmerkungen) haben freuen wir uns von euch zu hören!
Unsere Kommunikation läuft hauptsächlich weiterhin über Xenoblade.org und das Forum - wir freuen uns wenn ihr uns dort einen Besuch abstattet!

Liebe Grüße,
das Xenoblade.org - Team</p>
</section>
<section class="content-box m-t-3">
  <header>
    <h1>Willkommen auf XenobladeX.org!</h1>
    <span class="date">09.01.2016</span>
  </header>
    <p class="content-body">Hallo ihr Lieben!

Wir sind froh euch heute endlich die neue Seite präsentieren zu können!
Als lockeren Start haben wir für euch die <a href="/faq">FAQ</a> zusammengestellt mit vielen Fragen, die euch hoffentlich eine Hilfe sind - die FAQ sind natürlich noch nicht komplett und werden mit der Zeit weiter ausgebaut.
Selbstverständlich haben wir schon jede Menge weiterer Daten in der Rückhand und wir werden unser bestes Geben euch nach und nach all diese Daten aufbereitet hier zur Verfügung zu stellen.
Solltet ihr Anmerkungen haben, Fehler finden oder noch Fragen haben, freuen wir uns über jegliches Feedback!
Besucht uns dazu gerne im Forum!

Wir hoffen ihr seid gut im neuen Jahr angekommen,
das Xenoblade.org - Team</p>
</section>