<header>
  <h1>Aktuelles</h1>
</header>
<section class="content-box">
  <header>
    <h1>Willkommen auf XenobladeX.org!</h1>
    <span class="date">08.01.2016</span>
  </header>
  <div>
    <p>Hallo ihr Lieben!
Wir sind froh euch heute endlich die neue Seite präsentieren zu können!
Als lockeren Start haben wir für euch die <a href="/faq">FAQ</a> zusammengestellt mit vielen Fragen, die euch hoffentlich eine Hilfe sind - die FAQ sind natürlich noch nicht komplett und werden mit der Zeit weiter ausgebaut.
Selbstverständlich haben wir schon jede Menge weiterer Daten in der Rückhand, da wir bereits seit das Spiel rausgekommen ist fleißig sammeln und wir werden unser bestes Geben euch nach und nach all diese Daten aufberietet hier zur Verfügung zu stellen.
Solltet ihr Anmerkungen haben, Fehler finden oder noch Fragen haben, freuen wir uns über jegliches Feedback! Besucht uns dazu gerne im Forum!

Wir hoffen ihr seid gut im neuen Jahr angekommen,
das Xenoblade.org - Team</p>
  </div>
</section>