/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor
/web/bundles/

.idea
*.iml
node_modules
web/css/*
web/js/*
web/libraries/*
web/templates/*
web/images/*
web/uploads/*
web/index.html
.sass-cache/*
composer.lock