<header param-from-url param-name="region" class="col-xs-12">
    <h1>Kreaturen <span ng-if="paramFromUrl">- {{paramFromUrl}}</span></h1>
</header>
<div param-from-url param-name="region" class="col-xs-12">
    <section class="content-box default-amrgin-b">
        <p class="content-body">Unter "Alle" findet ihr sämtliche Kreaturen nach Gattung (selbe Reihenfolge wie im Spiel) und unterhalb der Gattung alphabetisch sortiert.
Unter den jeweiligen Gebieten findet ihr die Kreaturen nach Typ seperiert und Level sortiert</p>
    </section>
    <monster-view>
        <div class="row m-b-1">
            <div class="col-xs-12 col-lg-3 search-input m-b-1">
                <input ng-model="filter.name" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Namen filtern..." />
                <span class="fa fa-search"></span>
            </div>
            <div class="col-xs-12 col-lg-3 search-input m-b-1">
                <input ng-model="filter.region" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Region filtern..." />
                <span class="fa fa-search"></span>
            </div>
            <div class="col-xs-12 col-lg-3 search-input m-b-1">
                <input ng-model="filter.monster_type.name" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Gattung filtern..." />
                <span class="fa fa-search"></span>
            </div>
            <div class="col-xs-12 col-lg-3 search-input m-b-1">
                <input ng-model="levelfilterValue" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Level filtern..." />
                <span class="fa fa-search"></span>
            </div>
        </div>
        <div class="row m-b-1 p-y-1 content-box">
            <div class="col-xs-12 col-lg-3">
                <div class="checkbox">
                    <label>
                        <input ng-model="uniqueMonsters" type="checkbox"/> Tyrannen ausblenden
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="checkbox">
                    <label>
                        <input ng-model="storyMonsters" type="checkbox"/> Handlungsgegner ausblenden
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="checkbox">
                    <label>
                        <input ng-model="usualMonsters" type="checkbox"/> Normale Kreaturen ausblenden
                    </label>
                </div>
            </div>
        </div>
        <collapsed-content>
            <section class="collapse-grouped" ng-repeat="monsterGroup in groupedMonsters" ng-if="monsterGroup.hide !== true">
            <h1 ng-if="paramFromUrl">{{monsterGroup.name}}</h1>
            <div class="collapse-item" ng-repeat="monster in monsterGroup.data | filter:filter | filter:uniqueMonsters:{ is_unique: false } | filter:storyMonsters:{ is_story: false } | filter:usualMonsters:{ is_story: false, is_unique: false } | range:levelfilterValue:'level_min':'level_max' track by monster.id">
                <a name="monster-{{monster.id}}"></a>
                <a href="#monster-{{$parent.$index}}-{{$index}}" ng-click="visible('monster-'+$parent.$index+'-'+$index)" class="collapsed content-box" onclick="return false;" data-toggle="collapse" aria-expanded="false">
                    <strong>
                        {{monster.name}}
                        <span ng-if="monster.level_min || monster.level_max">
                            (L {{monster.level_min}}<span ng-if="monster.level_max">-{{monster.level_max}}</span>)
                        </span>
                    </strong>
                    <span class="collapse-arrow fa"></span>
                    <ul class="collapse-notes">
                        <li ng-if="!paramFromUrl">
                            {{monster.region}}
                        </li>
                        <li ng-if="!paramFromUrl && (monster.is_unique || monster.is_story)">
                            <span ng-if="monster.is_unique">Tyrann</span>
                            <span ng-if="monster.is_story">Handlung</span>
                        </li>
                        <li>
                            {{monster.monster_type.name}}
                        </li>
                    </ul>
                </a>
                <div id="monster-{{$parent.$index}}-{{$index}}" class="content-box collapse">
                    <div ng-if="isVisible('monster-'+$parent.$index+'-'+$index)" class="content-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <strong>Werte:</strong> <br/>
                                {{monster.hp||'???'}} HP | {{monster.ep||'???'}} EP<br/>
                                <br/>
                                <strong>Wetter:</strong> {{monster.weather||'???'}}<br/>
                                <strong>Zeit:</strong> {{monster.time||'???'}}<br/>
                                <br/>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <strong>Ortsbeschreibung:</strong>
                                <p>{{monster.location_note||'???'}}</p>
                                <br/>
                                <strong ng-if="monster.description">Besonderheiten:</strong>
                                <p>{{monster.description}}</p>
                            </div>
                        </div>
                        <div class="row m-t-1">
                            <div class="col-xs-12">
                                <strong>Resistenzen:</strong><br/>
                                <div class="table-responsive">
                                    <table class="table text-sm-center table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">Physisch</th>
                                            <th style="text-align: center">Laser</th>
                                            <th style="text-align: center">Äther</th>
                                            <th style="text-align: center">Thermo</th>
                                            <th style="text-align: center">Elektro</th>
                                            <th style="text-align: center">Gravit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{monster.res_physic}}
                                            </td>
                                            <td>
                                                {{monster.res_laser}}
                                            </td>
                                            <td>
                                                {{monster.res_ether}}
                                            </td>
                                            <td>
                                                {{monster.res_thermo}}
                                            </td>
                                            <td>
                                                {{monster.res_electric}}
                                            </td>
                                            <td>
                                                {{monster.res_gravit}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-1">
                            <div class="col-xs-12">
                                <strong ng-if="monster.materials.length>0">Material:</strong>
                                <ul>
                                    <li ng-repeat="material in monster.materials" material-by-id="{{material}}">
                                        <a ng-href="/material#material-{{material}}">{{materialById.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </collapsed-content>
    </monster-view>
</div>
