<div class="map-marker-admin-view">
    <div class="form-group">
        <label>Karte wählen:</label>
        <select ng-if="maps" ng-model="selectedMapId" ng-change="selectMap(selectedMapId)" class="form-control" ng-options="map.id as map.name for map in maps"></select>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input ng-model="newMapmarker.name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Beschreibung:</label>
        <input ng-model="newMapmarker.description" type="text" class="form-control">
    </div>
    {{newMapmarker.person.id}}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Personen</a>
        </li>
    </ul>
    <div class="row m-t-1 map-container">
        <div class="col-xs-12">
            <img ng-if="currentMap" ng-click="addMapmarker($event)" ng-src="/xenobladex/attachment/{{currentMap.attachment.id}}" />
            <div class="mapmarker-wrapper" ng-repeat="mapmarker in mapmarkers | filter:{person: { id: newMapmarker.person.id }}" ng-click="setZIndex($event)" style="position: absolute; top: {{mapmarker.y_coord}}px; left: {{mapmarker.x_coord}}px;">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#mapmarker-edit-{{$index}}" aria-expanded="false">
                    <span class="fa fa-map-marker"></span> {{mapmarker.person.name}} - {{mapmarker.name}}
                </button>
                <div id="mapmarker-edit-{{$index}}" class="collapse">
                    <div class="card">
                        <div class="card-block">
                            <div class="form-group">
                                <label>Name:</label>
                                <input ng-model="mapmarker.name" value="mapmarker.name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label>Beschreibung:</label>
                                <input ng-model="mapmarker.description" value="mapmarker.description" class="form-control" type="text">
                            </div>
                            <button class="btn btn-success" ng-click="updateMapmarker(mapmarker)">Ändern</button>
                            <button class="btn btn-danger" ng-click="deleteMapmarker(mapmarker)">Löschen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12 detail-select-overlay m-t-1 m-l-1">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#detail-select-box" aria-expanded="false">{{newMapmarker.person.name || 'Person auswählen'}} <span class="fa fa-arrow-circle-down p-l-1"></span></button>
            <div id="detail-select-box" class="collapse">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">
                            Person:
                        </h4>
                        <autocomplete-select ng-if="persons" autocomplete-list="persons" autocomplete-option-name="name" autocomplete-option-value="id" autocomplete-text-input-bind="newMapmarker.person.name" autocomplete-bind="newMapmarker.person.id"></autocomplete-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>