<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="m-b-2" param-from-url param-name="equipUpgradeId">
            <div ng-if="paramFromUrl" equip-upgrade-by-id="{{paramFromUrl}}">
                <a href="/admin/erweiterungen" class="btn btn-primary m-b-1"><span class="fa fa-arrow-circle-left"></span> Erweiterungen</a>
                <div ng-if="equipUpgradeById">
                    <h2 class="m-b-1">{{equipUpgradeById.name}} ({{equipUpgradeById.category_type}})</h2>
                    <p>{{equipUpgradeById.description}}</p>
                    <equip-upgrade-tier-admin>
                        <collapsed-table-list ng-repeat="item in vm.equipUpgradeTiers | filter: {equip_upgrade: paramFromUrl} | orderBy:'name' track by item.id">
                            <equip-upgrade-tier-form equip-upgrade-tier="item"></equip-upgrade-tier-form>
                        </collapsed-table-list>
                    </equip-upgrade-tier-admin>
                </div>
            </div>
        </div>
    </div>
</main>
</main>