<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <strong>Stufen pflegen:</strong>
            <ul>
                <li>
                    Stufen können nur an bereits angelegten Erweiterungen hinzugefügt werden
                </li>
                <li>
                    Öffnet ihr eine bestehende Erweiterung, welche noch keine Stufen hat, könnt ihr diese über einen Button erzeugen (Stufen anlegen)
                </li>
                <li>
                    Ändert man die Kategorie an einer Erweiterung aktualisiert sich die Anzeige des Typs in der Liste erst nach einem Seiten-Reload!
                </li>
            </ul>
        </div>
        <h1>Erweiterungen</h1>
        <equip-upgrade-admin>
            <div class="alert alert-warning m-y-2" ng-show="vm.deletedEquipUpgrade">
                <a ng-click="vm.addDeletedEquipUpgrade()" href="#">Gelöschte Zeile wiederherstellen</a>
            </div>
            <a href="/admin/erweiterungen/was-fehlt" class="btn-primary btn">Welche Daten fehlen?</a>
            <input type="text" class="form-control text m-y-1" ng-model="nameFilter" ng-model-options='{ debounce: 200 }' placeholder="Filtern..." />
            <collapsed-table-list add-form="true">
                <equip-upgrade-form equip-upgrade="newEquipUpgrade">
                </equip-upgrade-form>
            </collapsed-table-list>
            <collapsed-table-list ng-repeat="item in vm.equipUpgrades | listFilter:nameFilter:'name' | orderBy: ['name'] track by item.id" ng-if="vm.equipUpgrades" table-list-label="{{item.name}} ({{item.category_type}})">
                <equip-upgrade-form equip-upgrade="item">
                </equip-upgrade-form>
            </collapsed-table-list>
        </equip-upgrade-admin>
    </div>
</main>