<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <strong>Stufen pflegen:</strong>
            <ul>
                <li>
                    Da es sich um stark verschachtelte Daten handelt gibt es mehrere "Speicher"-Buttons:<br/>
                    Einen zum Speichern der übergeordneten Erweiterung, einen zum Speichern einer Stufe (hinter Verkaufswert) und einer zum Speichern der verknüpften Materialien
                </li>
                <li>
                    Stufen können nur an bereits angelegten Erweiterungen hinzugefügt werden
                </li>
                <li>
                    Öffnet ihr eine bestehende Erweiterung, welche noch keine Stufen hat, könnt ihr diese über einen Button erzeugen (Stufen anlegen)
                </li>
                <li>
                    Sollte beim Anlegen irgendetwas schief gegangen sein, so dass ihr nicht die 5 Stufen habt, aber auch nicht mehr den Button "Stufen anlegen", so gibt es den Button "Stufen löschen" um sie neu generieren zu können (es werden nur Stufen gelöscht, an denen kein Material hängt, dieses ggf. händisch löschen)
                </li>
            </ul>
        </div>
        <h1>Erweiterungen</h1>
        <equip-upgrade-admin>
            <div class="alert alert-warning m-y-2" ng-show="vm.deletedEquipUpgrade">
                <a ng-click="vm.addDeletedEquipUpgrade()" href="#">Gelöschte Zeile wiederherstellen</a>
            </div>
            <input type="text" class="form-control text m-y-1" ng-model="nameFilter" ng-model-options='{ debounce: 200 }' placeholder="Filtern..." />
            <collapsed-table-list add-form="true">
                <equip-upgrade-form equip-upgrade="newEquipUpgrade">
                </equip-upgrade-form>
            </collapsed-table-list>
            <collapsed-table-list ng-repeat="item in vm.equipUpgrades | listFilter:nameFilter:'name' track by item.id" ng-if="vm.equipUpgrades">
                <equip-upgrade-form equip-upgrade="item">
                </equip-upgrade-form>
            </collapsed-table-list>
        </equip-upgrade-admin>
    </div>
</main>