<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <h1>Erweiterungen</h1>
        <equip-upgrade-admin>
            <div class="alert alert-warning m-y-2" ng-show="vm.deletedEquipUpgrade">
                <a ng-click="vm.addDeletedEquipUpgrade()" href="#">Gelöschte Zeile wiederherstellen</a>
            </div>
            <input type="text" class="form-control text m-y-1" ng-model="nameFilter" ng-model-options='{ debounce: 200 }' placeholder="Filtern..." />
            <collapsed-table-list add-form="true">
                <equip-upgrade-form equip-upgrade="newEquipUpgrade">
                </equip-upgrade-form>
            </collapsed-table-list>
            <collapsed-table-list ng-repeat="item in vm.equipUpgrades | listFilter:nameFilter:'name' track by item.id" ng-if="vm.equipUpgrades">
                <equip-upgrade-form equip-upgrade="item">
                </equip-upgrade-form>
            </collapsed-table-list>
        </equip-upgrade-admin>
    </div>
</main>