<div class="row">
    <div class="col-md-offset-9 col-md-3 col-xs-offset-6 col-xs-6 p-r-0 p-b-1">
        <button type="button" href="#" class="btn btn-danger pull-right" ng-click="form.deleteEquipUpgrade()">
            Löschen
        </button>
    </div>
</div>
<form ng-submit="">
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Name:</strong>
        <form-field form-field-bind="form.equipUpgrade.name" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Beschreibung:</strong>
        <form-field form-field-bind="form.equipUpgrade.description" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Kann nicht hergestellt werden?</strong>
        <form-field form-field-bind="form.equipUpgrade.is_not_manufacturable" form-template="inputCheckbox"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <span class="info-icon text-primary" bs-tooltip bs-tooltip-title="Standardwert 'Waffen'"></span>
        <strong>Kategorie:</strong>
        <form-field ng-if="form.equipUpgradeCategories" form-field-label="type" form-field-bind="form.equipUpgradeCategory" form-select-options="form.equipUpgradeCategories" form-template="customAutoCompleteSelect"></form-field>
    </div>
    <div class="row">
        <div class="col-xs-12 p-r-0">
            <button type="button" ng-click="form.updateEquipUpgrade()" class="btn btn-success pull-right">Speichern</button>
        </div>
    </div>
    <div ng-if="form.equipUpgrade.id">
        <div class="clear-both"></div>
        <h4 class="m-b-2">Stufen:</h4>
        <hr/>
        <ul>
            <li ng-repeat="equipUpgradeTier in form.equipUpgradeTiers | filter: {equip_upgrade: form.equipUpgrade.id} | orderBy:'name' track by equipUpgradeTier.id">
                <a href="admin/erweiterungen/{{form.equipUpgrade.id}}/stufen/{{equipUpgradeTier.id}}">Stufe {{equipUpgradeTier.name}}</a>
            </li>
        </ul>
        <div class="clear-both"></div>
        <button ng-if="(form.equipUpgradeTiers | filter: {equip_upgrade: form.equipUpgrade.id}).length==0" class="btn btn-success" type="button" ng-click="form.createEquipUpgradeTiers()">Stufen anlegen</button>
        <button ng-if="(form.equipUpgradeTiers | filter: {equip_upgrade: form.equipUpgrade.id}).length>0" class="btn btn-danger" type="button" ng-click="form.deleteEquipUpgradeTiers()">Stufen löschen</button>
    </div>
</form>