<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <span class="info-icon text-primary" bs-tooltip bs-tooltip-title="Nur Zahlen erlaubt."></span>
    <strong>Verkaufswert:</strong>
    <form-field form-field-bind="form.equipUpgradeTier.credit_cost" form-template="inputText"></form-field>
</div>
<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <strong>Beschreibung:</strong>
    <form-field form-field-bind="form.equipUpgradeTier.description" form-template="textarea"></form-field>
</div>
<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <strong>Material - Anzahl:</strong>
    <form-field form-field-bind="form.equipUpgradeTier.material_count" form-template="inputText"></form-field>
</div>
<div class="collapsed-table-cell-wrapper" collapsed-table-cell>
    <strong>Resource:</strong>
    <bind-autocomplete-as-id ng-if="form.resources" bind-item="form.equipUpgradeTier.resource" options="form.resources">
    </bind-autocomplete-as-id>
    <div class="clear-both"></div>
    <strong>Anzahl:</strong>
    <form-field form-field-bind="form.equipUpgradeTier.resource_count" form-template="inputText"></form-field>
</div>
<div class="row">
    <div class="col-xs-12 m-y-1">
        <button type="button" ng-click="form.updateEquipUpgradeTier()" class="btn btn-success pull-right">Speichern</button>
    </div>
</div>