<div class="missing-data-view">
    <a href="/admin/erweiterungen" class="btn-primary btn">Erweiterungen</a>
    <div class="table-responsive m-t-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Beschreibung
                    </th>
                    <th>
                        Nicht herstellbar?
                    </th>
                    <th>
                        Kategorie
                    </th>
                    <th>
                        I
                    </th>
                    <th>
                        V
                    </th>
                    <th>
                        X
                    </th>
                    <th>
                        XV
                    </th>
                    <th>
                        XX
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipUpgrade in equipUpgrades | orderBy:['name'] track by equipUpgrade.id">
                    <td>
                        {{equipUpgrade.name}} <span ng-if="equipUpgrade.alternative_name">({{equipUpgrade.alternative_name}})</span>
                    </td>
                    <td>
                        {{equipUpgrade.description}}
                    </td>
                    <td>
                        <span ng-if="equipUpgrade.is_not_manufacturable">
                            Ja
                        </span>
                        <span ng-if="!equipUpgrade.is_not_manufacturable">
                            Nein
                        </span>
                    </td>
                    <td>
                        {{equipUpgrade.category_name}} ({{equipUpgrade.category_type}})
                    </td>
                    <td style="text-align: left; vertical-align: top" ng-repeat="equipUpgradeTier in equipUpgradeTiers | orderBy: 'name' | filter: {equip_upgrade: equipUpgrade.id} : true track by equipUpgradeTier.id">
                        {{equipUpgradeTier.credit_cost}} Credits
                        <ul>
                            <li ng-repeat="i in [1,2,3] track by $index" material-by-id="{{getEquipUpgradeTierMaterial(equipUpgrade, equipUpgradeTier, i)}}" ng-if="getEquipUpgradeTierMaterial(equipUpgrade, equipUpgradeTier, i)">
                                {{materialById.name}}
                                <span ng-if="!equipUpgradeTier.material_count_individual">
                                    ({{equipUpgradeTier.material_count}})
                                </span>
                                <span ng-if="equipUpgradeTier.material_count_individual">
                                    ({{equipUpgradeTier.material1_count}})
                                </span>
                            </li>
                            <li resource-by-id="{{equipUpgradeTier.resource}}" ng-if="equipUpgradeTier.resource">
                                {{resourceById.name}} ({{equipUpgradeTier.resource_count}})
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>