<header param-from-url param-name="type" class="col-xs-12">
    <h1>Erweiterungen <span ng-if="paramFromUrl">- {{paramFromUrl}}</span></h1>
</header>
<div param-from-url param-name="type" class="col-xs-12">
    <section class="content-box default-amrgin-b">
    <p class="content-body">Unter "Alle" findet ihr sämtliche Erweiterungen in die Kategorien unterteilt.
Da die Ressourcen (Erhalt über Sonden) noch nicht auf unserer Seite gelistet sind, sind diese nicht verlinkt.</p>
    </section>
    <equip-upgrade-view>
        <div class="row m-b-1">
            <div class="col-xs-12 col-lg-3 search-input m-b-1">
                <input ng-model="nameQuery" ng-change="filter.alternative_name = filter.name" ng-model-options='{ debounce: 750 }' type="text" placeholder="Nach Namen filtern..." />
                <span class="fa fa-search"></span>
            </div>
        </div>
        <collapsed-content>
            <section class="collapse-grouped" ng-repeat="equipUpgradeGroup in groupedEquipUpgrades">
            <h1 ng-if="(equipUpgradeGroup.rows | filter:{category_type: paramFromUrl}).length>0 && (equipUpgradeGroup.rows | filter:filterNames).length>0">{{equipUpgradeGroup.name}}</h1>
            <div class="collapse-item" ng-repeat="equipUpgrade in equipUpgradeGroup.rows | filter:filterNames | orderBy:'name' track by equipUpgrade.id">
                <a name="equipUpgrade-{{equipUpgrade.id}}"></a>
                <a href="#equipUpgrade-{{$parent.$index}}-{{$index}}" ng-click="visible('equipUpgrade-'+$parent.$index+'-'+$index)" class="collapsed content-box" onclick="return false;" data-toggle="collapse" aria-expanded="false">
                    <strong>
                        {{equipUpgrade.name}} <span ng-if="equipUpgrade.alternative_name">/ {{equipUpgrade.alternative_name}}</span><span ng-if="equipUpgrade.is_not_manufacturable" style="font-size: 14px; font-style: italic; font-weight: normal">(Nicht herstellbar)</span>
                    </strong>
                    <span class="collapse-arrow fa"></span>
                    <ul class="collapse-notes">
                        <li ng-if="!paramFromUrl">
                            {{equipUpgrade.category_type}}
                        </li>
                    </ul>
                </a>
                <div id="equipUpgrade-{{$parent.$index}}-{{$index}}" class="content-box collapse">
                    <div ng-if="isVisible('equipUpgrade-'+$parent.$index+'-'+$index)" class="content-body">
                        <div ng-if="equipUpgrade.description" class="row">
                            <div class="col-xs-12 col-md-6">
                                <p>{{equipUpgrade.description}}</p>
                            </div>
                        </div>
                        <div class="row m-t-1">
                            <div class="col-xs-12">
                                <div ng-if="(equipUpgradeTiers | filter: {equip_upgrade: equipUpgrade.id}: true).length == 5">
                                    <div class="col-lg-4 col-sm-6 col-xs-12 m-b-1" ng-repeat="equipUpgradeTier in equipUpgradeTiers | orderBy: 'name' | filter: {equip_upgrade: equipUpgrade.id} : true track by equipUpgradeTier.id">
                                        <h6>{{equipUpgradeTier.name}}</h6>
                                        <div style=" float: right; font-style: italic; font-weight: 500; font-size: 12px;" ng-switch="equipUpgradeTier.name">
                                            <span ng-switch-when="I">Gewöhnlich</span>
                                            <span ng-switch-when="V" class="rarity wertvoll">Wertvoll</span>
                                            <span ng-switch-when="X" class="rarity sehrwertvoll">Sehr Wertvoll</span>
                                            <span ng-switch-when="XV" class="rarity extremwertvoll">Extrem Wertvoll</span>
                                            <span ng-switch-when="XX" class="rarity unbezahlbar">Unbezahlbar</span>
                                        </div>
                                        <hr/>
                                        <p ng-if="equipUpgradeTier.description" class="m-b-1">{{equipUpgradeTier.description}}</p>
                                        {{equipUpgradeTier.credit_cost}} Credits
                                        <ul>
                                            <li ng-repeat="i in [1,2,3] track by $index" material-by-id="{{getEquipUpgradeTierMaterial(equipUpgrade, equipUpgradeTier, i)}}" ng-if="getEquipUpgradeTierMaterial(equipUpgrade, equipUpgradeTier, i)">
                                                <a ng-href="/material#material-{{materialById.id}}">{{materialById.name}}</a>
                                                <span ng-if="!equipUpgradeTier.material_count_individual">
                                                    ({{equipUpgradeTier.material_count}})
                                                </span>
                                                <span ng-if="equipUpgradeTier.material_count_individual">
                                                    ({{equipUpgradeTier.material1_count}})
                                                </span>
                                            </li>
                                            <li resource-by-id="{{equipUpgradeTier.resource}}" ng-if="equipUpgradeTier.resource">
                                                {{resourceById.name}} ({{equipUpgradeTier.resource_count}})
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="(equipUpgradeTiers | filter: {equip_upgrade: equipUpgrade.id} : true).length == 1">
                                    <span ng-if="!equipUpgrade.is_not_manufacturable" class="rarity sehrwertvoll">Sehr Wertvoll</span>
                                    <div ng-repeat="equipUpgradeTier in equipUpgradeTiers | orderBy: 'name' | filter: {equip_upgrade: equipUpgrade.id} : true track by equipUpgradeTier.id">
                                        <p ng-if="equipUpgradeTier.description" class="m-y-1">{{equipUpgradeTier.description}}</p>
                                        {{equipUpgradeTier.credit_cost}} Credits
                                        <ul>
                                            <li ng-repeat="i in [1,2,3] track by $index" material-by-id="{{getEquipUpgradeTierMaterial(equipUpgrade, equipUpgradeTier, i)}}" ng-if="getEquipUpgradeTierMaterial(equipUpgrade, equipUpgradeTier, i)">
                                                <a ng-href="/material#material-{{materialById.id}}">{{materialById.name}}</a>
                                                <span ng-if="!equipUpgradeTier.material_count_individual">
                                                    ({{equipUpgradeTier.material_count}})
                                                </span>
                                                <span ng-if="equipUpgradeTier.material_count_individual">
                                                    ({{equipUpgradeTier.material1_count}})
                                                </span>
                                            </li>
                                            <li resource-by-id="{{equipUpgradeTier.resource}}" ng-if="equipUpgradeTier.resource">
                                                {{resourceById.name}} ({{equipUpgradeTier.resource_count}})
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </collapsed-content>
    </equip-upgrade-view>
</div>
