<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="m-b-2" param-from-url param-name="equipUpgradeId">
            <div ng-if="paramFromUrl" equip-upgrade-by-id="{{paramFromUrl}}">
                <h2>{{equipUpgradeById.name}}</h2>
            </div>
        </div>
        <div param-from-url param-name="equipUpgradeTierId">
            <div ng-if="paramFromUrl" equip-upgrade-tier-by-id="{{paramFromUrl}}">
                <equip-upgrade-tier-form ng-if="equipUpgradeTierById" equip-upgrade-tier="equipUpgradeTierById"></equip-upgrade-tier-form>
            </div>
        </div>
    </div>
</main>
</main>