<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-warning" role="alert">
            <strong>Achtung!</strong> Gelöschte Dateien können hier leider (noch) nicht wieder hergestellt werden.
        </div>
        <h1>Dateien</h1>
        <p>
            Hier kann sämtliches Material hochgeladen werden. Dieses kann dann später verknüpft werden. Damit es in der Masse übersichtlich bleibt, kommt später noch eine Suchfunktion hinzu. Aktuell wird nach Name sortiert (also neuste zuerst da diese noch keinen Namen haben ;-))
        </p>
        <attachment-admin></attachment-admin>
    </div>
</main>