<div class="row">
    <div class="col-md-offset-9 col-md-3 col-xs-offset-6 col-xs-6 p-r-0 p-b-1">
        <button href="#" class="btn btn-danger pull-right" ng-click="form.deleteMission()">
            Löschen
        </button>
    </div>
</div>
<form ng-submit="form.updateMission()">
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Name:</strong>
        <form-field form-field-bind="form.mission.name" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Richtige Person?</strong>
        <form-field form-field-bind="form.mission.has_person" form-template="inputCheckbox"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell ng-if="form.mission.has_person">
        <strong>Auftraggeber:</strong>
        <form-field ng-if="form.persons" form-field-bind="form.person" form-select-options="form.persons" form-template="customAutoCompleteSelect"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell ng-if="!form.mission.has_person">
        <strong>Auftraggeber:</strong>
        <form-field form-field-bind="form.mission.person_unrelated" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Beschreibung:</strong>
        <form-field form-field-bind="form.mission.description" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <span class="info-icon text-primary" bs-tooltip bs-tooltip-title="Nur Zahlen erlaubt."></span>
        <strong>Bedingung - Kapitel:</strong>
        <form-field form-field-bind="form.mission.chapter" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Bedingungen:</strong>
        <form-field form-field-bind="form.mission.conditions" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Erhalt wo?</strong>
        <form-field form-field-bind="form.mission.location_note" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Aufgaben:</strong>
        <form-field form-field-bind="form.mission.tasks" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Lösung:</strong>
        <form-field form-field-bind="form.mission.solution" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Belohnung:</strong>
        <form-field form-field-bind="form.mission.rewards" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Typ:</strong>
        <form-field ng-if="form.missionTypes" form-field-bind="form.mission.mission_type" form-template="objectSelect" form-select-options="form.missionTypes"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <span class="info-icon text-primary" bs-tooltip bs-tooltip-title="Nur Zahlen erlaubt."></span>
        <strong>Bedingung - BLADE-Level:</strong>
        <form-field form-field-bind="form.mission.blade_level" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Nebenjob-Zielregion</strong>
        <form-field form-field-bind="form.mission.target_area" form-template="stringSelect" form-select-options="form.regions"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Nebenjob-Typ</strong>
        <form-field form-field-bind="form.mission.sidejob_type" form-template="stringSelect" form-select-options="form.sideJobTypes"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <span class="info-icon text-primary" bs-tooltip bs-tooltip-title="Nur Zahlen erlaubt (kleine Sterne addieren)."></span>
        <strong>Nebenjob-Schwierigkeit</strong>
        <form-field form-field-bind="form.mission.difficulty" form-template="inputText"></form-field>
    </div>
    <div class="row">
        <div class="col-xs-12 p-r-0">
            <input type="submit" href="#" class="btn btn-success pull-right" value="Speichern" />
        </div>
    </div>
</form>