<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#{{modalId}}"><span class="fa fa-map"></span></a>
<div class="modal mapmarker-modal fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Karte</h4>
            </div>
            <div class="modal-body">
                <div class="leaflet-map" id="{{leafletMapId}}"></div>
            </div>
        </div>
    </div>
</div>