<main role="main">
    <div ng-include src="'views/_adminHeader.html'"></div>
    <div class="admin-view col-md-12 p-y-1">
        <div class="alert alert-info" role="alert">
            <ul>
                <li>
                    Sitzt das Raster nicht richtig, ist zu klein etc. können Abstand, Versatz und Größe in der Kartenpflege angepasst werden.
                </li>
                <li>
                    Das Raster selbst sind noch keine Segmente, denn später sollen ja auch nur die tatsächlich im Spiel vorhandenen Segmente auf der Seite angezeigt werden.
                </li>
                <li>
                    Klicke auf ein Hexagon im Raster um dort ein Segment zu erstellen.
                </li>
            </ul>
        </div>
        <h1>Segmente</h1>
        <map-tile-admin></map-tile-admin>
    </div>
</main>
