<div class="person-admin-view">
    <div class="alert alert-warning" ng-show="deletedPerson">
        <a ng-click="addDeletedPerson()" href="#">Gelöschte Zeile wiederherstellen</a>
    </div>
    <button class="btn btn-success m-y-2" type="button" data-toggle="modal" data-target="#new-person-container" aria-expanded="false" aria-controls="collapseExample">
        Neue Person anlegen
    </button>
    <input type="text" class="form-control text m-b-2" ng-model="modalFilterValue" placeholder="Filtern..." />
    <div id="new-person-container" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Neue Person</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <form-field form-field-bind="newPerson.name" form-field-label="Name" form-field-template="fieldsetInputText"></form-field>
                        <form-field form-field-bind="newPerson.age" form-field-label="Alter" form-field-template="fieldsetInputText"></form-field>
                        <form-field form-field-bind="newPerson.species" form-field-label="Spezies" form-field-template="fieldsetInputText"></form-field>
                        <form-field form-field-bind="newPerson.division" form-field-label="Division" form-field-template="fieldsetInputText"></form-field>
                        <form-field form-field-bind="newPerson.description" form-field-label="Beschreibung" form-field-template="fieldsetTextarea"></form-field>
                        <form-field form-field-bind="newPerson.activity_time" form-field-label="Zeit" form-field-template="fieldsetInputText"></form-field>
                        <form-field form-field-bind="newPerson.location_note" form-field-label="Wo" form-field-template="fieldsetTextarea"></form-field>
                        <form-field form-field-bind="newPerson.conditions" form-field-label="Bedingungen" form-field-template="fieldsetTextarea"></form-field>
                        <button href="#" class="btn btn-success m-t-2" ng-click="addPerson(newPerson)">
                            Hinzufügen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div ng-repeat="person in persons | listFilter:modalFilterValue:'name'" class="collapsed-table-view">
            <button class="list-group-item" data-toggle="collapse" data-target="#person-view-{{$index}}" aria-expanded="false" aria-controls="person-view-{{$index}}">{{person.name}}</button>
            <div class="collapse" id="person-view-{{$index}}">
                <div class="card card-block">
                    <div class="row">
                        <h4 class="col-md-3 col-xs-6 card-title p-y-1"><a href="#" editable-text="person.name" onaftersave="updatePerson(person)">{{person.name || 'eintragen'}}</a></h4>
                        <div class="col-lg-3 hidden-sm-down">
                        </div>
                        <div class="col-lg-3 hidden-sm-down">
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <button href="#" class="btn btn-danger pull-right" ng-click="deletePerson(person)">
                                Löschen
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 card card-block col-xs-12">
                            <strong>Alter:</strong>
                            <p>
                                <a href="#" editable-text="person.age" onaftersave="updatePerson(person)">{{person.age || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Spezies:</strong>
                            <p>
                                <a href="#" editable-text="person.species" onaftersave="updatePerson(person)">{{person.species || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Division:</strong>
                            <p>
                                <a href="#" editable-text="person.division" onaftersave="updatePerson(person)">{{person.division || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Beschreibung:</strong>
                            <p>
                                <a href="#" editable-textarea="person.description" onaftersave="updatePerson(person)">{{person.description || 'eintragen'}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Zeit:</strong>
                            <p>
                                <a href="#" editable-text="person.activity_time" onaftersave="updatePerson(person)">{{person.activity_time || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Ort:</strong>
                            <p>
                                <a href="#" editable-textarea="person.location_note" onaftersave="updatePerson(person)">{{person.location_note || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Bedingungen:</strong>
                            <p>
                                <a href="#" editable-textarea="person.conditions" onaftersave="updatePerson(person)">{{person.conditions || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>