<ng-include src="'templates/partialHeaderView.html'"></ng-include>
<main role="main">
  <img class="comming-soon-bg" src="images/comming_soon_bg.jpg" />
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5>Coming Soon!</h5>
      </div>
      <div class="panel-body">
        <p>
          Auch zum neuen Teil wollen wir euch wieder mit so vielen Infos wie möglich versorgen!<br/>
          Einen genauen Live-Termin gibt es noch nicht, aber unsere Hauptentwicklerin und Admin der Seite (Sami) hat erst ab dem 14.12. Urlaub, d.h. vorher ist eher noch nicht so viel zu erwarten.<br/>
          <br/>
          Wir freuen uns auf euch!<br>
          <br>
          Liebe Grüße, das Xenoblade(X).org - Team
        </p>
      </div>
    </div>
  </div>
</main>