.admin-view {
  table {
    table-layout: fixed;
  }

  a.editable {
    white-space: pre-wrap;
  }

  .editable-buttons {
    display: block;
    margin-top: $default-padding;
  }

  textarea {
    min-height: 200px;
    min-width: 250px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
  }
}