.collapsed-table-view {
  .info-icon {
    @extend .fa;
    @extend .fa-info-circle;
    position: absolute;
    top: $default-margin;
    right: $default-margin;
  }

  @media (min-width: #{$screen-md-min}) {
    .collapse {
      width: 100%;
      .collapsed-table-card {
        padding: $default-element-margin;

        .collapsed-table-cell-wrapper {
          &:nth-of-type(4n+1) {
            clear: left;
          }
        }
      }

      //old
      .collapsed-table-row {
        .collapsed-table-cell-wrapper {
          &:nth-of-type(4n+1) {
            clear: left;
          }
        }
      }
    }
  }
}