.map-marker-admin-view {
  .map-container {
    position: relative;
    z-index: 1050;

    .detail-select-overlay {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }
}