.collapse-grouped {
  margin-bottom: $default-element-margin;
  h1 {
    color: $font-color-dark;
    margin: $default-margin 0;
    font-family: $font-family-default;
    font-size: $font-size-h3;
    letter-spacing: normal;
  }
}

.collapse-item {
  position: relative;
  & + .collapse-item {
    padding-top: $default-padding;
  }

  > [data-toggle="collapse"] {
    margin-bottom: $default-padding;
  }

  [data-toggle="collapse"] {
    position: relative;
    text-decoration: none;
    color: $font-color-dark;
    display: block;
    padding: $default-margin;
    padding-right: $default-element-margin; //arrow

    h2 {
      line-height: normal;
      margin-bottom: 0;
    }

    .collapse-note {
      color: $color-bright-darkened;
      float: right;
      margin-right: $default-margin;
    }

    .collapse-arrow {
      @extend .vertical-align;
      position: absolute;
      top: 50%;
      right: $default-margin;
      font-size: $font-size-copy;
    }

    &.collapsed {
      .collapse-arrow {
        @extend .fa-arrow-down;
      }
    }

    &:not(.collapsed) {
      .collapse-arrow {
        @extend .fa-arrow-up;
      }
    }

    &:hover {
      background-color: rgba($color-xenobladex, 0.5);
    }
  }

  .collapse.in ~ [data-toggle="collapse"] {
    padding-top: $default-padding;
  }

  h2,h3 {
    display: inline-block;
    font-size: $font-size-copy;
  }
}