.content-box {
  background-color: rgba(255,255,255,0.8);

  header {
    padding: $default-margin;
    h1 {
      display: inline-block;
      font-size: $font-size-h2;
    }

    span {
      @media (min-width: #{$screen-md-min}) {
        float: right;
      }
    }
  }

  p {
    display: block;
    padding: $default-margin;
    margin-bottom: 0;
    white-space: pre-wrap;
    color: $font-color-dark;
    font-size: $font-size-copy;
    line-height: $font-line-height-copy;
  }
}