.content-box {
  background-color: $color-white-transparent;

  header {
    padding: $default-margin;
    padding-bottom: 0;
    h1 {
      display: inline-block;
      font-size: $font-size-h2;
    }

    span {
      display: block;
      @media (min-width: #{$screen-md-min}) {
        float: right;
      }
    }
  }

  .content-body {
    display: block;
    padding: $default-margin;
    color: $font-color-dark;
    line-height: $font-line-height-copy;
  }

  p {
    margin-bottom: 0;
    white-space: pre-wrap;

    a {
      color: $color-xenobladex;
    }
  }
}