button, input {
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

.main-content {
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    border-style: none;
    padding: $default-padding $default-margin;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    @media (min-width: #{$screen-md-min}) {
      max-width: 320px;
    }
  }
}

.search-input {
  width: 100%;
  padding: 0;
  margin-right: $default-margin;
  position: relative;
  span {
    @extend .vertical-align;
    position: absolute;
    right: $default-margin;
    top: 50%;
  }

  @media (min-width: #{$screen-md-min}) {
    max-width: 320px;
  }
}

.checkbox {
  margin-bottom: 0;
}