.vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-responsive {
  max-width: 100%;
}

.clear-both {
  clear: both;
}

.default-amrgin-t {
  margin-top: $default-margin;
}

.default-amrgin-b {
  margin-bottom: $default-margin;
}

.default-amrgin-y {
  margin: $default-margin 0;
}