#images-overlay-modal {
  display: none;

  .modal-dialog {
    width: auto;
    max-width: 100%;

    img {
      max-width: 100%;
    }

    @media (max-width: #{$screen-md-min}) {
      margin: $default-padding 0 0 0;

      .modal-header {
        padding: $default-padding;
      }

      .modal-body {
        padding: $default-padding;
      }
    }
  }
}

.image-with-overlay-wrapper {
  position: relative;
  display: inline-block;

  .image-with-overlay {
    cursor: pointer;
    position: relative;
    border: 1px solid $color-xenobladex;

    & ~ span {
      position: absolute;
      display: block;
      right: $default-margin;
      top: $default-margin;
      color: $color-xenobladex;
      cursor: pointer;
      font-size: 30px;

      &:before {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      }

      @media (max-width: #{$screen-md-min}) {
        right: $default-padding;
        top: $default-padding;
        font-size: 24px;
      }
    }
  }
}
