.mission-admin-view {
  textarea {
    min-height: 100px;
    max-width: 100%;
  }

  .collapse {
    width: 100%;
    table-layout: fixed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse;

    .row {
      display: table-row;
      height: 100%;

      [class^="col-"] {
        float: none;
        display: table-cell;
      }

      .card {
        width: 25%;
      }
    }
  }
}