.ta-view {
  .spoiler-wrapper {
    display: block;
    width: 100%;
    margin: $default-margin 0;
    padding: $default-padding;
    border: 1px solid $color-xenobladex;

    .spoiler-label {
      position: relative;
      margin-left: -4px;
      display: block;
      font-weight: bold;
      cursor: pointer;

      .fa {
        position: absolute;
        right: $default-padding;
        top:50%;
        transform: translateY(-50%);
      }

      & ~ div {
        padding: $default-margin 0;
      }
    }

    &.active .fa-arrow-down {
      transform: rotate(180deg);
    }
  }
}