$default-element-margin: 1.875rem;
$default-margin: $default-element-margin/2;
$default-padding: $default-margin/2;

$color-xenobladex: #33ffff;
//$color-xenobladex: #f30000;

$font-color-bright: #ffffff;
$font-color-dark: #000000;

$screen-xs-max: 543px;
$screen-sm-min: 544px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;