$default-element-margin: 2.5rem;
$default-margin: $default-element-margin/2;
$default-padding: $default-margin/2;

$color-bright-lightened: #bbbbbb;
$color-bright: #f7f7f7;
$color-dark-lightened: #484c4e;
$color-dark: #373a3c;
$color-dark-darkened: #212121;
$color-xenobladex: #49d7d5;

$font-color-bright: $color-bright;
$font-color-bright: $color-bright;
$font-color-dark: $color-dark;
$font-size-normal: 16px;
$font-size-copy: 18px;
$font-size-h1: 48px;
$font-size-h2: 24px;
$font-line-height-copy: 28px;
$font-family-default: 'Open Sans';

$screen-xs-max: 543px;
$screen-sm-min: 544px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;