$default-element-margin: 1.875rem;
$default-margin: $default-element-margin/2;
$default-padding: $default-margin/2;

$color-xenobladex: #33ffff;
//$color-xenobladex: #f30000;

$font-color-bright: #ffffff;
$font-color-dark: #000000;
