<div class="list-group collapsed-table-view">
    <button class="list-group-item list-group-item-success" data-toggle="collapse" data-target="#new-item-view-{{$index}}" aria-expanded="false" aria-controls="new-item-view-{{$index}}"><span class="fa fa-plus-circle"></span> Neu</button>
    <div class="collapse" id="new-item-view-{{$index}}">
        <div class="card card-block collapsed-table-card">
            <div class="row">
                <h4 class="col-md-3 col-xs-6 card-title p-y-1"><a href="#" editable-text="newItem.name">{{newItem.name || 'eintragen'}}</a></h4>
                <div class="col-lg-3 hidden-sm-down">
                </div>
                <div class="col-lg-3 hidden-sm-down">
                </div>
                <div class="col-md-3 col-xs-6">
                    <button href="#" class="btn btn-success pull-right" ng-click="addItem({item : newItem})">
                        Hinzufügen
                    </button>
                </div>
            </div>
            <div class="row collapsed-table-row">
                <div class="col-md-3 card card-block col-xs-12 collapsed-table-col" ng-repeat="column in columns track by column.name" ng-if="(newItem[column.show] == column.showValue || !column.show) && !newItem[column.hide]">
                    <span class="info-icon text-primary" bs-tooltip ng-if="column.fieldInfoTooltip" bs-tooltip-title="{{column.fieldInfoTooltip}}"></span>
                    <strong>{{column.label}}</strong>
                    <p>
                        <form-field attachment-type="{{column.attachmentType}}" ng-if="column.type" form-field-bind="newItem[column.name]" form-select-options="column.data" form-template="{{column.type}}"></form-field>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="item in data | listFilter:modalFilterValue:'name' | orderBy: formModel.orderBy track by item.id">
        <button ng-click="visible(item, $event)" class="list-group-item" data-toggle="collapse" data-target="#item-view-{{$index}}" aria-expanded="false" aria-controls="item-view-{{$index}}">{{item.name}}</button>
        <div class="collapse" id="item-view-{{$index}}">
            <div class="card collapsed-table-card card-block">
                <div class="row">
                    <h4 class="col-md-3 col-xs-6 card-title p-y-1"><a href="#" editable-text="item.name" onaftersave="updateItem({item : item})">{{item.name || 'eintragen'}}</a></h4>
                    <div class="col-lg-3 hidden-sm-down">
                    </div>
                    <div class="col-lg-3 hidden-sm-down">
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <button href="#" class="btn btn-danger pull-right" ng-click="deleteItem({item : item})">
                            Löschen
                        </button>
                    </div>
                </div>
                <div class="row collapsed-table-row">
                    <div class="collapsed-table-col col-lg-3 card card-block col-xs-12" ng-repeat="column in columns track by column.name" ng-if="(item[column.show] == column.showValue || !column.show) && !item[column.hide] && visibleElements.indexOf(item) !== -1">
                        <span class="info-icon text-primary" bs-tooltip ng-if="column.fieldInfoTooltip" bs-tooltip-title="{{column.fieldInfoTooltip}}"></span>
                        <strong>{{column.label}}</strong>
                        <p>
                            <form-field ng-if="column.type" attachment-type="{{column.attachmentType}}" form-field-bind="item[column.name]" form-field-action="updateItem({item:item})" form-field-action-param="item" form-select-options="column.data" form-template="{{column.type}}"></form-field>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>