<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    Beschreibung:
                </th>
                <th>
                    Aufgaben:
                </th>
                <th>
                    Lösung:
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#" editable-text="newMission.name">{{newMission.name || 'eintragen'}}</a>
                </td>
                <td>
                    <a href="#" editable-text="newMission.description">{{newMission.description || 'eintragen'}}</a>
                </td>
                <td>
                    <a href="#" editable-text="newMission.tasks">{{newMission.tasks || 'eintragen'}}</a>
                </td>
                <td>
                    <a href="#" editable-text="newMission.solution">{{newMission.solution || 'eintragen'}}</a>
                </td>
                <td>
                    <a href="#" class="text-success" ng-click="addMission(newMission)">
                        Hinzufügen
                    </a>
                </td>
            </tr>
            <tr ng-repeat="mission in missions">
                <td>
                    <a href="#" editable-text="mission.name" onaftersave="updateMission(mission)">{{mission.name}}</a>
                </td>
                <td>
                    <a href="#" editable-text="mission.description" onaftersave="updateMission(mission)">{{mission.description}}</a>
                </td>
                <td>
                    <a href="#" editable-text="mission.tasks" onaftersave="updateMission(mission)">{{mission.tasks}}</a>
                </td>
                <td>
                    <a href="#" editable-text="mission.solution" onaftersave="updateMission(mission)">{{mission.solution}}</a>
                </td>
                <td>
                    <a href="#" class="text-danger" ng-click="deleteMission(mission.id)">
                        Löschen
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>