<div class="attachment-admin-view">
    <div class="row m-t-2">
        <div class="col-lg-6">
            <strong>Neue Datei auswählen</strong><br/>
            <i>(Name und Beschreibung können im Nachhinein editiert werden, Box erscheint direkt, Bild selbst erst nach einem Reload sichtbar)</i>
            <div class="form-group m-t-1">
                <input-file fileread="file"></input-file>
            </div>
        </div>
    </div>
    <div class="row m-t-3">
        <div class="col-lg-3" ng-repeat="attachment in attachments | orderBy:'name'" ng-class="{'clear-both': $index%4==0}">
            <div class="card">
                <div class="image-wrapper text-xs-center">
                    <img ng-if="attachment.mime_type.indexOf('image') !== -1" class="card-img-top img-responsive" ng-src="/xenobladex/attachment/{{attachment.id}}" />
                    <div class="mime-type" ng-if="attachment.mime_type.indexOf('image') === -1">
                        <span class="fa fa-file fa-5x m-t-2"></span>
                        <p>{{attachment.mime_type}}</p>
                    </div>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        <a href="#" editable-text="attachment.name" onaftersave="updateAttachment(attachment)">{{attachment.name || 'eintragen'}}</a>
                    </h4>
                    <p class="card-text">
                        <a href="#" editable-textarea="attachment.description" onaftersave="updateAttachment(attachment)">{{attachment.description || 'eintragen'}}</a>
                    </p>
                    <button type="button" class="btn btn-danger" ng-click="deleteAttachment(attachment)">Löschen</button>
                </div>
            </div>
        </div>
    </div>
</div>