<div class="missing-data-view">
<a href="/admin/missionen" class="btn-primary btn">Missionen</a>
    <div class="table-responsive m-t-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Auftraggeber
                    </th>
                    <th>
                        Erhalt wo
                    </th>
                    <th>
                        Bedingungen
                    </th>
                    <th>
                        Beschreibung
                    </th>
                    <th>
                        Lösung
                    </th>
                    <th>
                        Aufgaben
                    </th>
                    <th>
                        Belohnung
                    </th>
                    <th>
                        Typ
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mission in missions">
                    <td>
                        {{mission.name}}
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.person || mission.person_unrelated, 'incomplete text-danger':!mission.person && !mission.person_unrelated}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.location_note, 'incomplete text-danger':!mission.location_note}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.conditions, 'incomplete text-danger':!mission.conditions}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.description, 'incomplete text-danger':!mission.description}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.solution, 'incomplete text-danger':!mission.solution}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.tasks, 'incomplete text-danger':!mission.tasks}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.rewards, 'incomplete text-danger':!mission.rewards}"></span>
                    </td>
                    <td>
                        <span class="icon-missing-data" ng-class="{'complete text-success':mission.mission_type.id, 'incomplete text-danger':!mission.mission_type.id}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>