<div class="missing-data-view">
<a href="/admin/missionen" class="btn-primary btn">Missionen</a>
    <div class="table-responsive m-t-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Auftraggeber
                    </th>
                    <th>
                        Erhalt wo
                    </th>
                    <th>
                        Bedingungen / Kapitel / BLADE-Level
                    </th>
                    <th>
                        Beschreibung
                    </th>
                    <th>
                        Lösung
                    </th>
                    <th>
                        Aufgaben
                    </th>
                    <th>
                        Belohnung
                    </th>
                    <th>
                        Typ
                    </th>
                    <th>
                        Kartenpunkte
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="elm in missingDataArray | orderBy: 'name'">
                    <td>
                        {{elm.name}}
                    </td>
                    <td>
                        <span ng-if="elm.has_person || elm.person_unrelated" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.has_person && !elm.person_unrelated" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.location_note" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.location_note" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.conditions || elm.blade_level || elm.chapter" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.conditions && !elm.blade_level && !elm.chapter" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.description" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.description" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.solution" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.solution" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.tasks" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.tasks" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.rewards" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.rewards" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.mission_type" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.mission_type" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        <span ng-if="elm.mapmarkers" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.mapmarkers" class="text-danger">
                            leer
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>