<div class="mission-admin-view">
    <a href="/admin/missionen/was-fehlt" class="btn-primary btn m-b-2">Welche Daten fehlen?</a>
    <div class="alert alert-warning m-y-2" ng-show="deletedMission">
        <a ng-click="addDeletedMission()" href="#">Gelöschte Zeile wiederherstellen</a>
    </div>
    <input type="text" class="form-control text m-b-2" ng-model="modalFilterValue" placeholder="Filtern..." />
    <div class="list-group collapsed-table-view">
        <div class="">
            <button class="list-group-item list-group-item-success" data-toggle="collapse" data-target="#new-mission-collapsible" aria-expanded="false" aria-controls="new-mission-collapsible">Neue Mission</button>
            <div class="collapse" id="new-mission-collapsible">
                <div class="card card-block">
                    <div class="row">
                        <h4 class="col-md-3 col-xs-6 card-title p-y-1">
                            <a href="#" editable-text="newMission.name">{{newMission.name || 'eintragen'}}</a>
                        </h4>
                        <div class="col-lg-3 hidden-sm-down">
                        </div>
                        <div class="col-lg-3 hidden-sm-down">
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <button href="#" class="btn btn-success pull-right" ng-click="addMission(newMission)">
                                Hinzufügen
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 card card-block col-xs-12">
                            <span bs-tooltip class="info-icon text-primary" data-toggle="tooltip" data-placement="top" title='Wenn "richtige Person" ausgewählt ist, aber eine nicht vorhandene eingeben wird, wird diese neu angelegt'></span>
                            <strong>Auftraggeber:</strong>
                            <p>
                                <form-field form-field-bind="newMission.has_person" form-field-label="Richtige Person?" form-template="inputCheckbox"></form-field>
                                <autocomplete-select ng-if="newMission.has_person && personDataLoaded" autocomplete-list="persons" autocomplete-option-name="name" autocomplete-option-value="id" autocomplete-text-input-bind="newMission.person.name" autocomplete-bind="newMission.person.id"></autocomplete-select>
                                <a ng-if="!newMission.has_person" href="#" editable-text="newMission.person_unrelated">{{newMission.person_unrelated || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Erhalt wo:</strong>
                            <p>
                                <a href="#" editable-textarea="newMission.location_note">{{newMission.location_note || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Bedingungen:</strong>
                            <p>
                                <a href="#" editable-textarea="newMission.conditions">{{newMission.conditions || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Beschreibung:</strong>
                            <p>
                                <a href="#" editable-textarea="newMission.description">{{newMission.description || 'eintragen'}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Lösung:</strong>
                            <p>
                                <a href="#" editable-textarea="newMission.solution">{{newMission.solution || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Aufgaben:</strong>
                            <p>
                                <a href="#" editable-textarea="newMission.tasks">{{newMission.tasks || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Belohnung:</strong>
                            <p>
                                <a href="#" editable-textarea="newMission.rewards">{{newMission.rewards || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Typ:</strong>
                            <p>
                                <a href="#" editable-select="newMission.mission_type.id" e-ng-options="m.id as m.name for m in missionTypes">{{ showSelectedMissionType(newMission) || 'eintragen' }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="mission in missions | listFilter:modalFilterValue:'name'">
            <button class="list-group-item" data-toggle="collapse" data-target="#mission-view-{{$index}}" aria-expanded="false" aria-controls="mission-view-{{$index}}">{{mission.name}}</button>
            <div class="collapse" id="mission-view-{{$index}}">
                <div class="card card-block">
                    <div class="row">
                        <h4 class="col-md-3 col-xs-6 card-title p-y-1"><a href="#" editable-text="mission.name" onaftersave="updateMission(mission)">{{mission.name || 'eintragen'}}</a></h4>
                        <div class="col-lg-3 hidden-sm-down">
                        </div>
                        <div class="col-lg-3 hidden-sm-down">
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <button href="#" class="btn btn-danger pull-right" ng-click="deleteMission(mission)">
                                Löschen
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 card card-block col-xs-12">
                            <span bs-tooltip class="info-icon text-primary" data-toggle="tooltip" data-placement="top" title='Wenn "richtige Person" ausgewählt ist, aber eine nicht vorhandene eingeben wird, wird diese neu angelegt'></span>
                            <strong>Auftraggeber:</strong>
                            <p>
                                <form-field form-field-bind="mission.has_person" form-field-label="Richtige Person?" form-field-template="inputCheckbox"></form-field>
                                <autocomplete-select ng-if="mission.has_person && personDataLoaded" autocomplete-list="persons" autocomplete-option-name="name" autocomplete-option-value="id" autocomplete-text-input-bind="mission.person.name" autocomplete-bind="mission.person.id"></autocomplete-select>
                                <a href="#" ng-if="mission.has_person && personDataLoaded" class="btn btn-primary pull-right m-t-1 m-r-1" ng-click="updateMission(mission)"><span class="fa fa-check"></span></a>
                                <a ng-if="!mission.has_person" href="#" editable-text="mission.person_unrelated" onaftersave="updateMission(mission)">{{mission.person_unrelated || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Erhalt wo:</strong>
                            <p>
                                <a href="#" editable-textarea="mission.location_note" onaftersave="updateMission(mission)">{{mission.location_note || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Bedingungen:</strong>
                            <p>
                                <a href="#" editable-textarea="mission.conditions" onaftersave="updateMission(mission)">{{mission.conditions || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Beschreibung:</strong>
                            <p>
                                <a href="#" editable-textarea="mission.description" onaftersave="updateMission(mission)">{{mission.description || 'eintragen'}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Lösung:</strong>
                            <p>
                                <a href="#" editable-textarea="mission.solution" onaftersave="updateMission(mission)">{{mission.solution || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Aufgaben:</strong>
                            <p>
                                <a href="#" editable-textarea="mission.tasks" onaftersave="updateMission(mission)">{{mission.tasks || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Belohnung:</strong>
                            <p>
                                <a href="#" editable-textarea="mission.rewards" onaftersave="updateMission(mission)">{{mission.rewards || 'eintragen'}}</a>
                            </p>
                        </div>
                        <div class="col-lg-3 card card-block col-xs-12 ">
                            <strong>Typ:</strong>
                            <p>
                                <a href="#" editable-select="mission.mission_type.id" e-ng-options="m.id as m.name for m in missionTypes" onaftersave="updateMission(mission)">{{ showSelectedMissionType(mission) || 'eintragen' }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>