<div class="missing-data-view">
<a href="/admin/monster" class="btn-primary btn">Monster</a>
    <div class="table-responsive m-t-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Level Min. / Max.
                    </th>
                    <th>
                        HP
                    </th>
                    <th>
                        EP
                    </th>
                    <th>
                        Physisch | Laser | Äther | Thermo | Elektro | Gravit
                    </th>
                    <th>
                        Kartenpunkte
                    </th>
                    <th>
                        Gattung
                    </th>
                    <th>
                        Material
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="monster in monsters | orderBy: ['monster_type.prio','name']">
                    <td>
                        {{monster.name}}
                    </td>
                    <td>
                        <span ng-if="monster.level_min">
                            {{monster.level_min}}
                        </span>
                        <span ng-if="monster.level_max">
                            - {{monster.level_max}}
                        </span>
                    </td>
                    <td>
                        {{monster.hp}}
                    </td>
                    <td>
                        {{monster.ep}}
                    </td>
                    <td>
                        {{monster.res_physic}} | {{monster.res_laser}} | {{monster.res_ether}} | {{monster.res_thermo}} | {{monster.res_electric}} | {{monster.res_gravit}}
                    </td>
                    <td>
                        <span ng-if="elm.mapmarkers" class="text-success">
                            gepflegt
                        </span>
                        <span ng-if="!elm.mapmarkers" class="text-danger">
                            leer
                        </span>
                    </td>
                    <td>
                        {{monster.monster_type.name}}
                    </td>
                    <td>
                        <ul style="text-align: left">
                            <li ng-repeat="material in monster.materials">{{material.name}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>