<div class="row">
    <div class="col-md-offset-9 col-md-3 col-xs-offset-6 col-xs-6 p-r-0 p-b-1">
        <button href="#" class="btn btn-danger pull-right" ng-click="form.deleteCollectible()">
            Löschen
        </button>
    </div>
</div>
<form ng-submit="form.updateCollectible()">
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Name:</strong>
        <form-field form-field-bind="form.collectible.name" form-template="inputText"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Beschreibung:</strong>
        <form-field form-field-bind="form.collectible.description" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Seltenheit:</strong>
        <form-field form-field-bind="form.collectible.rarity" form-template="stringSelect" form-select-options="form.rarities"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Ortsbeschreibung:</strong>
        <form-field form-field-bind="form.collectible.location_note" form-template="textarea"></form-field>
    </div>
    <div class="collapsed-table-cell-wrapper" collapsed-table-cell>
        <strong>Glücksfeld?</strong>
        <form-field form-field-bind="form.collectible.is_lucky_field" form-template="inputCheckbox"></form-field>
    </div>
    <div class="row">
        <div class="col-xs-12 p-r-0">
            <input type="submit" href="#" class="btn btn-success pull-right" value="Speichern" />
        </div>
    </div>
</form>