<autocomplete-select autocomplete-list="formSelectOptions" autocomplete-option-name="name" autocomplete-option-value="id" autocomplete-text-input-bind="newMaterial.name" autocomplete-bind="newMaterial.id"></autocomplete-select>
<div ng-repeat="material in $parent.formfieldbind">
    <autocomplete-select autocomplete-list="formSelectOptions" autocomplete-option-name="name" autocomplete-option-value="id" autocomplete-text-input-bind="material.name" autocomplete-bind="material.id"></autocomplete-select>
</div>
<button ng-click="" class="btn btn-success">Hinzufügen <span class="fa fa-plus-circle"></span></button>
<a href="#" ng-if="formFieldActionParam" class="btn btn-primary pull-right m-t-1 m-r-1" ng-click="formFieldAction({item : formFieldActionParam})"><span class="fa fa-check"></span></a>