<monster-material-by-monster-type>
    <autocomplete-select autocomplete-callback="materialByMonsterType()" autocomplete-list="formSelectOptions" autocomplete-option-name="name" autocomplete-option-value="id" autocomplete-text-input-bind="formFieldBind.monster_type.name" autocomplete-bind="formFieldBind.monster_type.id"></autocomplete-select>
    <a href="#" ng-if="formFieldActionParam" class="btn btn-primary pull-right m-t-1 m-r-1" ng-click="formFieldAction({item : formFieldActionParam})"><span class="fa fa-check"></span></a>
</monster-material-by-monster-type>
