<div class="row">
    <div class="col-xs-12 p-l-0 p-b-1">
        <a href="/admin/guides" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Guides</a>
        <a target="_blank" href="/guide/vorschau/{{form.guide.id}}" class=" pull-left btn btn-primary m-l-1">Vorschau</a>
    </div>
</div>
<div class="content-box p-x-1 p-y-1">
    <div class="row m-b-2">
        <strong>Name:</strong>
        <form-field form-field-bind="form.guide.name" form-template="inputText"></form-field>
    </div>
    <div class="row m-b-2">
        <strong>Autor:</strong>
        <form-field form-field-bind="form.guide.author" form-template="inputText"></form-field>
    </div>
    <div class="row m-b-2">
        <strong>Inhalt:</strong>
        <div text-angular="" ta-toolbar="[['bold','italics','underline','strikeThrough','fontcolor','fontsize'], ['ul', 'ol', 'undo', 'redo'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent', 'twocolumn'], ['html', 'insertImage', 'spoiler','anchor','insertLink', 'insertVideo', 'wordcount', 'charcount']]" ng-model="form.guide.copy"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 p-x-0">
            <input type="submit" ng-click="form.updateGuide()" href="#" class="btn btn-success pull-right" value="Speichern" />
            <button ng-if="form.guide.id" href="#" class="btn btn-danger pull-left" ng-click="form.deleteGuide()">
                Löschen
            </button>
        </div>
    </div>
</div>
