<div class="map-admin-view">
    <div class="alert alert-warning" ng-show="deletedMap">
        <a ng-click="addDeletedMap()" href="#">Gelöschte Zeile wiederherstellen</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    Beschreibung:
                </th>
                <th>
                    Bild:
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#" editable-text="newMap.name">{{newMap.name || 'eintragen'}}</a>
                </td>
                <td>
                    <a href="#" editable-textarea="newMap.description">{{newMap.description || 'eintragen'}}</a>
                </td>
                <td>
                    <attachment-input ng-if="attachmentsLoaded" attachment-list="attachments" attachment-type="image" attachment-bind="newMap.attachment"></attachment-input>
                </td>
                <td>

                </td>
                <td>
                    <a href="#" class="text-success" ng-click="addMap(newMap)">
                        Hinzufügen
                    </a>
                </td>
            </tr>
            <tr ng-repeat="map in maps">
                <td>
                    <a href="#" editable-text="map.name" onaftersave="updateMap(map)">{{map.name || 'eintragen'}}</a>
                </td>
                <td>
                    <a href="#" editable-textarea="map.description" onaftersave="updateMap(map)">{{map.description || 'eintragen'}}</a>
                </td>
                <td>
                    <attachment-input attachment-list="attachments" ng-if="attachmentsLoaded" attachment-type="'image'" attachment-bind="map.attachment"></attachment-input>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" ng-click="updateMap(map)"><span class="fa fa-check"></span></a>
                </td>
                <td>
                    <a href="#" class="text-danger" ng-click="deleteMap(map.id, $index)">
                        Löschen
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>