<div class="map-admin map-marker-input">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#{{contentId}}"><span class="fa fa-map"></span></a>
    <div class="modal modal-fullsize fade" id="{{contentId}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog p-x-1 p-y-1" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Kartenpunkte setzen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Karte wählen:</label>
                        <select ng-if="maps" ng-model="selectedMapId" ng-change="selectMap(selectedMapId)" class="form-control" ng-options="map.id as map.name for map in maps"></select>
                    </div>
                    <div class="row m-t-1 map-container">
                        <div class="col-xs-12">
                            <img ng-if="currentMap" ng-click="addMapmarker($event)" ng-src="/xenobladex/attachment/{{currentMap.attachment.id}}" />
                            <div class="mapmarker-wrapper" ng-repeat="mapmarker in shownMapmarkers" ng-click="setZIndex($event)" style="position: absolute; top: {{mapmarker.y_coord}}px; left: {{mapmarker.x_coord}}px;">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#mapmarker-edit-{{$index}}" aria-expanded="false">
                                    <span class="fa fa-map-marker"></span> {{mapmarker.name}}
                                </button>
                                <div id="mapmarker-edit-{{$index}}" class="collapse">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="form-group">
                                                <label>Name:</label>
                                                <input ng-model="mapmarker.name" value="mapmarker.name" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>Beschreibung:</label>
                                                <input ng-model="mapmarker.description" value="mapmarker.description" class="form-control" type="text">
                                            </div>
                                            <button class="btn btn-danger" ng-click="deleteMapmarker(mapmarker)">Löschen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>